<p id="notice"><%= notice %></p>
<div style="padding: 5%;">
<h1>License Appointment</h1>
<br>
<%= link_to 'Add details to this license', edit_passport_path(@pappointment.passport), :class => "btn btn-primary" %>
<br>
<br>

<%= link_to 'Edit', edit_pappointment_path(@pappointment) %> |
<%= link_to 'Back', pappointments_path %>
</div>