<p id="notice"><%= notice %></p>
<div style="padding: 5%;">
<h1>License Appointment</h1>
<br>
<%= link_to 'Add details to this license', edit_license_path(@lappointment.license), :class => "btn btn-primary" %>
<br>
<br>

<%= link_to 'Edit', edit_lappointment_path(@lappointment) %> |
<%= link_to 'Back', lappointments_path %>
</div>