<div style="padding: 5%;">
<h1>Create an Appointment</h1>
<br>
<h5>Click to create an appointment for when you are required to visit the office for verification</h5>
<br>
<br>
<%= render 'form', appointment: @appointment %>

<%= link_to 'Back', appointments_path %>
</div>